/*
Author : Chris ;
Theme : Pure CSS ;
Description : Variables ;
Tags : CSS ;
*/

:root {
    --white: #fff;
    --shade-white: #f5f5f5;
    --black: #3a3a3a;
    --shade-red: #ff6663;
    --shade-blue: #0186d2;
}
