{% extends 'base.html.twig' %}

{% block head %}
	<title>Page introuvable</title>
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="headline">La page que vous recherchez n'a pas été trouvée.</h1>
		<p class="lead">
			Vous êtes sur une page qui n'existe plus ou n'a jamais existé. Vérifiez les éventuelles erreurs
			d'orthographe de l'URL.
		</p>
	</section>
{% endblock %}
