{% extends 'base.html.twig' %}

{% block head %}
	<title>Erreur serveur</title>
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="headline">Erreur serveur</h1>
		<p class="lead">
			Le serveur a rencontré une erreur interne.
		</p>
	</section>
{% endblock %}
