{% extends 'base.html.twig' %}

{% block head %}
	<title>Accès refusé</title>
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="headline">Accès refusé</h1>
		<p class="lead">
			Vous n'êtes pas autorisé à voir cette resource.
		</p>
	</section>
{% endblock %}
